/*-------------
 	General
-------------*/

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html{
	font-family: 'Roboto', sans-serif;
	color: #222;
}

ul {
	list-style: none;
}





section{
	display: flex;
	flex-direction: column;
	align-items: center;

	padding: 125px 100px;
}

@media (max-width: 1000px){

	section{
		padding: 100px 50px;
	}

}

@media (max-width: 600px){

	section{
		padding: 80px 30px;
	}

}

section h3.title{
	color: #414a4f;
	text-transform: capitalize;
	font: bold 32px 'Roboto', sans-serif;
	/* font-family: 'Roboto', sans-serif; */
	margin-bottom: 35px;
	text-align: center;
}

section p{
	max-width: 800px;
	text-align: center;
	margin-bottom: 35px;
	padding: 0 20px;
	line-height: 2;
	font-family: 'Roboto', sans-serif;
	color:#222;
}

ul.grid{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	background: linear-gradient(-90deg, #A3278F 0%, #E52F50 100%);
}




/*--------------------
 	Our Work Section
---------------------*/

.оur-work{
	background-color: #fff;
}

.our-work .grid li{
	padding: 20px;
	height: 350px;
	border-radius: 3px;

	background-clip: content-box;
	background-size: cover;
	background-position: center;


}

.our-work .grid li.smallbox{
	flex-basis: 40%;
  background-color: #555;

}

.our-work .grid li.tinybox{
	flex-basis: 20%;
background-color: #646464;
}

.our-work .grid li.midbox{
	flex-basis: 40%;
	background-color: #e5e5e5;

}

.our-work .grid li.largebox{
	flex-basis: 60%;
	background-color: #e3e3e3;

}


@media (max-width: 1000px){

	.our-work .grid li.smallbox,
	.our-work .grid li.largebox,
	.our-work .grid li.midbox,
	.our-work .grid li.tinybox{
		flex-basis: 100%;
	}

}
